In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

parks = pd.read_csv("Resources/state-park-facility-points-1.csv")
attendance = pd.read_csv("Resources/State_Park_Annual_Attendance_Figures_by_Facility___Beginning_2003.csv")

In [2]:
parks = parks.drop(columns=['Facility URL', 'Golf URL', 'Nature Center URL', 'Location']).fillna('N')

In [15]:
parks = parks.sort_values(by='Name')
parks

,Name,Category,Region,County,Golf,Camp,Playground,Nature Center,Beach,Longitude,Latitude
144,Alfred E. Smith/Sunken Meadow,State Park,9,Suffolk,Y,N,Y,N,Y,-73.263206,40.909992
36,Allan H. Treman,Marine Facility,4,Tompkins,N,N,N,N,N,-76.517568,42.461397
21,Allegany,State Park,2,Cattaraugus,N,Y,Y,Y-A,Y-M,-78.768559,42.054758
0,Amherst,State Park,1,Erie,N,N,N,N,N,-78.748088,42.971001
145,Amsterdam Beach,State Park,9,Suffolk,N,N,N,N,N,-71.900265,41.047771
...,...,...,...,...,...,...,...,...,...,...,...
176,Wildwood,State Park,9,Suffolk,N,Y,Y,N,Y,-72.794573,40.960500
212,Wilson Hill Boat Launch,Marine Facility,10,St. Lawrence,N,N,N,N,N,-75.007000,44.929029
19,Wilson-Tuscarora,State Park,1,Niagara,N,N,Y,N,Y,-78.855609,43.303777
117,Wonder Lake,State Park,7,Putnam,N,N,N,N,N,-73.646586,41.491903
20,Woodlawn Beach,State Park,1,Erie,N,N,Y,N,Y,-78.852208,42.793819

In [6]:

parks.to_csv (r'CleanedData/StatePark.csv', index = False, header=True)

In [8]:
att2019 = attendance[attendance["Year"] == 2019]

In [24]:
att2019.rename(columns={'Facility': 'Name'}, inplace=True)
att2019 = att2019.sort_values(by = 'Name')
park_att = att2019.groupby(['County'])['Attendance'].sum()
park_att.to_csv (r'CleanedData/park_county_attendance.csv', index = False, header=True)

In [10]:
att2019.to_csv (r'C2019_Attendance.csv', index = False, header=True)

In [17]:
joined = pd.merge(parks, att2019, on = 'Name', how = 'right')
joined = joined.sort_values(by = 'Name')
joined

,Name,Category,Region,County_x,Golf,Camp,Playground,Nature Center,Beach,Longitude,Latitude,Year,OPRHP Region,County_y,Attendance
0,Allan Treman Marina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Finger Lakes,Tompkins,355313
1,Allegany Quaker Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Allegany,Cattaraugus,802727
2,Allegany Red House Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Allegany,Cattaraugus,718483
3,Amsterdam Beach,State Park,9.0,Suffolk,N,N,N,N,N,-71.900265,41.047771,2019,Long Island,Suffolk,13860
4,Anthony Wayne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Palisades,Orange/Rockland,83463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Whirlpool,State Park,1.0,Niagara,N,N,Y,N,N,-79.063418,43.120400,2019,Niagara,Niagara,417994
240,Wildwood State Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Long Island,Suffolk,447597
241,Wilson Hill Boat Launch,Marine Facility,10.0,St. Lawrence,N,N,N,N,N,-75.007000,44.929029,2019,Thousand Islands,St Lawrence,8406
242,Wilson Tuscarora St Pk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Niagara,Niagara,218596
243,Woodlawn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Niagara,Erie,0