In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

parks = pd.read_csv("Resources/state-park-facility-points-1.csv")
attendance = pd.read_csv("Resources/State_Park_Annual_Attendance_Figures_by_Facility___Beginning_2003.csv")
income = pd.read_csv("Resources/Median Household Income by County.csv")
population = pd.read_csv("Resources/Population Estimates by County.csv")

In [ ]:
parks = parks.drop(columns=['Facility URL', 'Golf URL', 'Nature Center URL', 'Location']).fillna('N')

In [ ]:
parks = parks.sort_values(by='Name')
parks
parks.to_csv (r'CleanedData/StatePark.csv', index = False, header=True)

In [12]:
att2019 = attendance[attendance["Year"] == 2019]
att2019.rename(columns={'Facility': 'Name'}, inplace=True)
att2019 = att2019.sort_values(by = 'Name')
grouped_att = att2019.groupby(['County'])['Attendance'].sum()
grouped_county = att2019.groupby(['County'])['County']

park_att = pd.DataFrame({'County': grouped_county , 'Attendance': grouped_att})

# park_att['County']= park_att.index
# park_att.reset_index(drop=True, inplace=True)
df['text_new'] = df['text'].str.split('::').str[0]

C:\Users\bluec\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\bluec\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1229: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  v = np.array(v, copy=False)
C:\Users\bluec\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1623: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  subarr = np.array(values, dtype=dtype, copy=copy)
C:\Users\bluec\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

,Year,OPRHP Region,County,Name,Attendance
1,2019,Finger Lakes,Tompkins,Allan Treman Marina,355313
19,2019,Allegany,Cattaraugus,Allegany Quaker Area,802727
37,2019,Allegany,Cattaraugus,Allegany Red House Area,718483
55,2019,Long Island,Suffolk,Amsterdam Beach,13860
59,2019,Palisades,Orange/Rockland,Anthony Wayne,83463
...,...,...,...,...,...
4164,2019,Niagara,Niagara,Whirlpool,417994
4182,2019,Long Island,Suffolk,Wildwood State Park,447597
4200,2019,Thousand Islands,St Lawrence,Wilson Hill Boat Launch,8406
4218,2019,Niagara,Niagara,Wilson Tuscarora St Pk,218596
4236,2019,Niagara,Erie,Woodlawn,0

In [ ]:
income['Median Household Income by County'] = income['Median Household Income by County'].str.replace('County', '')
income.drop(income.tail(1).index,inplace=True)
income.drop(income.head(1).index,inplace=True)
income.rename(columns={'Median Household Income by County':'County', 'Unnamed: 1': 'Income', 'Unnamed: 2': 'Margin of Error'}, inplace=True)
income.to_csv (r'CleanedData/income.csv', index = False, header=True)

In [2]:
population['Population Estimates by County'] = population['Population Estimates by County'].str.replace('County', '')
population.drop(income.tail(1).index,inplace=True)
population.drop(income.head(1).index,inplace=True)
population.rename(columns={'Population Estimates by County':'County', 'Unnamed: 1': 'Population'}, inplace=True)

In [4]:
population.to_csv (r'CleanedData/population.csv', index = False, header=True)

In [ ]:
att2019.to_csv (r'CleanedData/2019_Attendance.csv', index = False, header=True)
park_att.to_csv (r'CleanedData/park_county_attendance.csv', index = False, header=True)

In [10]:
import sqlite3 as sql
cleaned_data = pd.read_csv("CleanedData/county_attendance_income_pop.csv")
conn = sql.connect('newyork.db')

cleaned_data['Income'] = cleaned_data['Income'].str.replace('$', '')
cleaned_data = cleaned_data.drop(columns=['Margin of Error'])

cleaned_data
cleaned_data.to_sql('county_data', conn, if_exists='replace', index= False)

explore = pd.read_sql("SELECT * FROM county_data", conn)
explore

         County  Attendance  Income Population
0        Albany      692080  66,252    305,506
1     Allegany        50133  48,412     46,091
2         Bronx      339868  40,088  1,418,207
3        Broome      252508  52,226    190,488
4   Cattaraugus     1521210  48,703     76,117
..          ...         ...     ...        ...
57   Washington        8588  57,258     61,204
58        Wayne       80599  59,449     89,918
59  Westchester     2351019  96,610    967,506
60      Wyoming       27031  58,052     39,859
61        Yates      116615  56,563     24,913

[62 rows x 4 columns]

In [5]:
yearly_attendance = pd.read_csv("Resources/State_Park_Annual_Attendance_Figures_by_Facility___Beginning_2003.csv")
yearly_attendance = yearly_attendance.sort_values(by='Year').drop(columns=['OPRHP Region', 'County'])

yearly_attendance.to_csv (r'CleanedData/yearly_attendance.csv', index = False, header=True)